<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Bookish - Bookings</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">

            <!-- All bookings -->
            <div class="card">
                <div class="card-header">
                    <h2 class="float-left">Current Bookings</h2>
                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#newBookingModal"><i class="fas fa-plus"></i> New Booking</button>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>ISBN</th>
                                <th>Forename</th>
                                <th>Surname</th>
                                <th>Due date</th>
                                <th>Returned?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="bookingId : ${model.bookings}">
                                <td th:text="${bookingId.title}"></td>
                                <td th:text="${bookingId.author}"></td>
                                <td th:text="${bookingId.isbn}"></td>
                                <td th:text="${bookingId.firstName}"></td>
                                <td th:text="${bookingId.surname}"></td>
                                <td th:text="${bookingId.dateDue}"></td>
                                <td>
                                    <a th:href="${'/bookings/delete?bookingId=' + bookingId.bookingId}">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div id="newBookingModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="float-left">Add Booking</h2>
                            <button type="button" class="close float-right" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form id="messageForm" th:action="@{/bookings/add}" method="post">
                                <!--<div class="form-group">-->
                                    <!--<label for="selectBook">Book:</label>-->
                                    <!--<select th:each="bookId : ${model.book}" class="form-control" id="selectBook">-->
                                        <!--<option th:text="${bookId.title}"></option>-->
                                    <!--</select>-->
                                <!--</div>-->

                                <div class="form-group">
                                    <label for="selectBook">Book:</label>
                                    <select class="form-control" id="selectBook" name="copyId">
                                        <option>Select book</option>
                                        <option th:each="copy : ${model.books}"
                                                th:value="${copy.copyId}"
                                                th:utext="${copy.barcode + ' - ' + copy.title + ', ' + copy.author}" />
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="selectUser">User:</label>
                                    <select class="form-control" id="selectUser" name="userId">
                                        <option>Select user</option>
                                        <option th:each="user : ${model.users}"
                                                th:value="${user.userId}"
                                                th:utext="${user.firstName + ' ' + user.surname + ' - ' + user.userName}" />
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Due date:</label>
                                    <input class="form-control" type="date" name="dateDue">
                                </div>

                                <div>
                                    <input class="btn btn-primary float-right" type="submit" value="Add Booking" />
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </body>
</html>
