<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Bookish - Home</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">

            <!-- All books -->
            <div class="card">
                <div class="card-header"><h2>All books</h2></div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Title</th>
                            <th>Subtitle</th>
                            <th>Author</th>
                            <th>ISBN</th>
                            <th>Delete?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bookId : ${model.books}">
                            <td th:text="${bookId.title}"></td>
                            <td th:text="${bookId.subtitle}"></td>
                            <td th:text="${bookId.author}"></td>
                            <td th:text="${bookId.isbn}"></td>
                            <td>
                                <a th:href="${'/books/delete?bookId=' + bookId.bookId}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Add a new book -->
            <div class="card">
                <div class="card-header"><h2>Add a book</h2></div>
                <div class="card-body">
                    <form id="messageForm" th:action="@{/books/add}" method="post">
                        <div class="form-group">
                            <label>Title:</label>
                            <input class="form-control" type="text" name="title">
                        </div>
                        <div class="form-group">
                            <label>Subtitle:</label>
                            <input class="form-control" type="text" name="subtitle">
                        </div>
                        <div class="form-group">
                            <label>Author:</label>
                            <input class="form-control" type="text" name="author">
                        </div>
                        <div class="form-group">
                            <label>ISBN:</label>
                            <input class="form-control" type="text" name="isbn">
                        </div>
                        <div>
                            <input class="btn btn-primary" type="submit" value="Add bookId" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </body>
</html>
