<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Bookish - Users</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">

            <!-- All users -->
            <div class="card">
                <div class="card-header">
                    <h2 class="float-left">All Users</h2>
                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#newUserModal"><i class="fas fa-plus"></i> New User</button>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
                        </div>
                        <input class="form-control" type="text" id="searchBox" onkeyup="filterTable('usersTable', 0, 'searchBox')" placeholder="Enter username">
                    </div>

                    <table id="usersTable" class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>Username</th>
                            <th>Forename</th>
                            <th>Surname</th>
                            <th>Date of Birth</th>
                            <th>View Books?</th>
                            <th>Delete?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="userId : ${model.users}">
                            <td th:text="${userId.userName}"></td>
                            <td th:text="${userId.firstName}"></td>
                            <td th:text="${userId.surname}"></td>
                            <td th:text="${userId.dateOfBirth}"></td>

                            <td>
                                <a href="">
                                    <i class="fas fa-book"></i>
                                </a>
                            </td>

                            <td>
                                <a th:href="${'/users/delete?userId=' + userId.userId}">
                                    <i class="fas fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>



            <!-- Modal -->
            <div id="newUserModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="float-left">Add User</h2>
                            <button type="button" class="close float-right" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">

                            <form id="messageForm" th:action="@{/users/add}" method="post">
                                <div class="form-group">
                                    <label>Forename:</label>
                                    <input class="form-control" type="text" name="firstName">
                                </div>
                                <div class="form-group">
                                    <label>Surname:</label>
                                    <input class="form-control" type="text" name="surname">
                                </div>
                                <div class="form-group">
                                    <label>Date of Birth:</label>
                                    <input class="form-control" type="date" name="dateOfBirth">
                                </div>
                                <div class="form-group">
                                    <label>Username:</label>
                                    <input class="form-control" type="text" name="userName">
                                </div>
                                <div class="form-group">
                                    <label>Password:</label>
                                    <input class="form-control" type="password" name="password">
                                </div>
                                <div>
                                    <input class="btn btn-primary float-right" type="submit" value="Add User" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>
